doctype html
html
  head(lang="en")
    title= title
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='CrimeSpotter' )

    //- bootstap 
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
  body(style="padding-bottom:10rem;")
    .container
    +nav("CrimeSpotter","dropdown_menu","inverse")
      +nav_item( "index","Active") Home
      +nav_item( "about") About
      +nav_item( "contact") Contact us
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
    script( src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js")
    script( src="https://www.gstatic.com/firebasejs/3.1.0/firebase-app.js")
    script( src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js")
    script( src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js")
    .row
      .col-md-4.col-sm-6-xs-12    
      .col-md-4.col-sm-6-xs-12
      .col-md-4.col-sm-6-xs-12
   block content
    
  